In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
# Load CSV
product_sales = pd.read_csv('product_sales_dataset_final.csv')
product_sales.head()

,Order_ID,Order_Date,Customer_Name,City,State,Region,Country,Category,Sub_Category,Product_Name,Quantity,Unit_Price,Revenue,Profit
0,1,08-23-23,Bianca Brown,Jackson,Mississippi,South,United States,Accessories,Small Electronics,Phone Case,3,201.01,603.03,221.49
1,2,12-20-24,Jared Edwards,Grand Rapids,Michigan,Centre,United States,Accessories,Small Electronics,Charging Cable,4,74.30,297.20,97.09
2,3,01-29-24,Susan Valdez,Minneapolis,Minnesota,Centre,United States,Clothing & Apparel,Sportswear,Nike Air Force 1,1,68.19,68.19,25.47
3,4,11-29-24,Tina Williams,Tallahassee,Florida,South,United States,Clothing & Apparel,Sportswear,Adidas Tracksuit,3,209.64,628.92,231.38
4,5,09-21-23,Catherine Gordon,Baltimore,Maryland,East,United States,Accessories,Bags,Backpack,1,216.63,216.63,42.46

In [11]:
# Connect to local SQL Server
engine = create_engine('mssql+pyodbc://localhost\\SQLEXPRESS/Master?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes')

In [ ]:
# Push data to 'SalesData'
product_sales.to_sql('SalesData', engine, if_exists='replace', index=False)

42